
.dishes_datas {
  display: grid;
  justify-self: center;
  width: 80%;
  margin-top: 15px;
}

.dish-img img {
  width: 100%;
  height: 80px;
}
.meals-item {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 387px) {
  .dishes_datas {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .dish_data {
    text-align: center;
  }
}
