.westernMealsContainer {
  padding: 0 20px;
}
.westernMeals-images {
  /* ظريقة 1 */
  /* display: flex;
  flex-wrap: wrap; */

  /* طريقة 2 */
  display: grid;
}
@media (max-width: 426px) {
  .westernMeals-images {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
  }
  .western-img img {
    /* ظريقة 1 */
    /* width: 50%; */

    /* طريقة 2 */
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
  }
}
