.categoryPageContainer {
  color: var(--newColorText);
}
/* .categoryPage-img img {
  width: 100%;
  height: 300px;
} */
.categoryPage-ul {
  padding: 0;
}
.categoryPage-texts {
  padding-right: 15px;
}
.categoryPage-texts h2 {
  font-family: var(--fontFamily-Tajawal);
}
.categoryPage-ul li {
  font-family: var(--fontFamily-amiri);
}
.categoryPage-ul li .cate-dash {
  color: red;
  font-weight: bold;
  /* font-size: 20px; */
}
.categoryPage-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 70%; */
  margin: auto;
  /* padding: 6px; */
  box-shadow: 0 0 8px 0 #dbdadab9;
  border-radius: 8px;
  font-family: var(--fontFamily-Tajawal);
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.categoryPage-cart:hover {
  background-color: #fbf9f5d9;
}
@media (max-width: 388px) {
  .categoryPage-img img {
    width: 100%;
    height: 300px;
  }
  .categoryPage-ul li .cate-dash {
    font-size: 20px;
  }
  .categoryPage-cart {
    width: 70%;
    padding: 6px;
  }
}
