.candyPageContainer {
  color: var(--newColorText);
}

.candyPage-img img {
  /* width: 100%; */
  /* height: 300px; */
}
.candyPage-texts {
  padding-right: 18px;
  margin-top: 20px;
}
.candyPage-texts h2 {
  font-family: var(--fontFamily-Tajawal);
}
.candyPage-ul {
  padding: 0;
}
.candyPage-ul li {
  font-family: var(--fontFamily-amiri);
}
.candyPage-ul li .candy-dash {
  color: red;
  font-weight: 500;
  /* font-size: 20px; */
}
.candyPage-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 70%; */
  margin: auto;
  padding: 6px;
  box-shadow: 0 0 8px 0 #dbdadab9;
  border-radius: 8px;
  font-family: var(--fontFamily-Tajawal);
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.candyPage-cart:hover {
  background-color: #fbf9f5d9;
}
@media (max-width: 388px) {
  .candyPage-img img {
    width: 100%;
    height: 300px;
  }
  .candyPage-ul li .candy-dash {
    font-size: 20px;
  }
  .candyPage-cart {
    width: 70%;
    padding: 6px;
  }
}
