.singleProductContainer {
  display: grid;
  row-gap: 20px;
  color: var(--newColorText);
}
.single-img {
  height: 200px;
}
.single-img img {
  width: 100%;
  height: 100%;
}
.single_others {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single_others .single_description {
  font-family: var(--fontFamily-amiri);
  text-align: center;
}
.single-different-imgs {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  justify-self: center;
  /* gap: 18px; */
}
.single-img-span {
  text-align: center;
}
/* .single-img-span p {
  font-size: 11px;
} */
.singleProduct_button {
  display: flex;
  justify-content: center;
}
.singleProduct_button {
  color: var(--newColorText);
  font-family: var(--fontFamily-Tajawal);
  padding: 6px;
  margin-top: 10px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  box-shadow: 0 0 8px 0 #dbdadab9;
  border-radius: 8px;
  font-weight: 500;
}
.singleProduct_button:hover{
   background-color: #fbf9f5d9;
}
.singleProduct_button button i {
  color: var(--footer-back);
}
@media (max-width: 388px) {
  .single-different-imgs {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .single-img-span p {
    font-size: 14px;
    font-family: var(--fontFamily-amiri);
  }
  .single-img-span img {
    width: 100%;
    height: 70px;
  }
}
