footer {
  background-color: #faebd760;
  margin-top: 20px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(180deg, #fef8f8, #faebd760);
}
.footer-topList .order-topList {
  padding: 0;
  display: grid;
  /* grid-template-columns: auto 1fr; */
  /* flex-wrap: wrap; */
}
.footer-topList .order-topList li {
  list-style: none;

  margin-bottom: 10px;
  font-size: large;
  font-family: var(--fontFamily-Messiri);
}
.footer-middleList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.middle-title {
  text-align: center;
  font-size: 27px;
  font-family: var(--fontFamily-Tajawal);
  position: relative;
}
.middle-title::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  background-color: var(--border-color);
  z-index: -1;
}
.footer-middleList .order-middleList {
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  margin-top: 5px;
}
.order-middleList .middle-lists {
  padding: 8px 0;
}
.middle-lists .social_icon {
  border: 2px solid #57109e;
  padding: 10px;
}
.middle-lists .social_icon i {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.bottom-footer {
  background-color: var(--footer-back);
  color: #e8e4e4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
}
.bottom-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(180deg, #eef1f6, var(--footer-back));
}

.bottom-footer .bottom-footer-title {
  font-family: var(--fontFamily-Tajawal);
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 22px;
  border-bottom: 1px solid var(--iconsColor);
}
.bottom-footer-title span {
  font-size: 18px;
  opacity: 0.8;
}
.bottom-footer .bottom-footer-texts {
  font-family: var(--fontFamily-Messiri);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (max-width: 386px) {
  .footer-topList .order-topList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .footer-topList .order-topList {
    grid-template-columns: auto 1fr;
  }
}